body{
    
    background: url(img/back1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    

}

form{
    position: absolute;
    width: 50%;
    background-color: aliceblue;
    
    

}